@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;6000;700;800;900&display=swap');
/*home section design*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;

}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-bg-color: #fff;
    --main-color:#0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-bg-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;


}

 
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-bg-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-bg-color);
    margin-left: 4rem ;
    transition: .3s; 
 }

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
} 


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}



 .home-img img{
    width: 35vw;
    animation: floatImage 5s ease-in-out infinite; 
} 
.home h1{
    margin-right: 20rem;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p { 
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease ;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/*<!-- about section design -->*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 7rem;
}
.about-content h3 {
    font-size: 2.6rem;
    line-height: 2.3;

}
.about-content p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    line-height: 2.1;
    justify-content: center;
    
}


/*<!-- skill section design -->*/

.skill{
    justify-content: center;
    align-items: center;
    margin-bottom: -10rem;
}

.skill h2 {
    margin-bottom: 5rem;
}
 
.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-container .skill-box{
    flex: 1 1 30 rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skill-container .skill-box:hover{
    border-color: var(--main-color);
    transition: scale(1.02);
}

.skill-box i{
    font-size: 10rem;
    color: var(--main-color);
}

/*<!-- portfolio section design -->*/

.projects{
    background: var(--second-bg-color);
}

.projects h2{
    margin-bottom: 4rem;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.projects-box img{
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img{
    transform: scale(1.1);
} 

.projects-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .project-layer{
    transform: translateY(0);
}

.projects-box p{
    color: #000;
}


.project-layer h4{
    color: red;
    font-size: 3rem;
}

.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


/* <!-- contact section design --> */

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
     margin-top: 2rem;
     cursor: pointer;
}

/* extra name add email */
.contact-center{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    
  }

  .left h3{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;

  }
  .left span{
    justify-content: center;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
  }
 
  .left p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  
  .left div{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .left div .content{
    text-align: left;
  }
  
  .left .icon{
    margin-right: 2rem;
    font-size: 2.3rem;
    color: var(--customColor);
  }

  form h2{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

/* <!-- footer design --> */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;  
    transition: .5s ease; 
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    columns: var(--second-bg-color);
}


/* Break_Points */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }  
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }

    .skill {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a {
         display: block;
         font-size: 2rem;
         margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img {
         width: 70vw;
         margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .skill h2{
        margin-bottom: 3rem;
    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns:repeat(2, 1fr) ;
    }

    .contact-center{
        grid-template-columns: 1fr;
      }
    
      .contact-center .left{
        text-align: left;
      }
    
      .left div .content h3{
        font-size: 1.6rem;
      }
    
      .left div .content span{
        font-size: 1.5rem;
      }
}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    .home-content h3{
        font-size: 1.6rem;
    }

    .home-content h1{
        font-size: 3rem;
    }

    .contact from .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {

    .home-content h3{
        font-size: 1.4rem;
    }

    .home-content h1{
        font-size: 2rem;
    }
    .home-img {
        width: 90vw;
    }  

    .about-img img{
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}